ul
    li: a(href="/") Home
    li: a(href="/about.html") About Us
    li: a(href="/jobs.html") Career
    li: a(href="/customers.html") Customers
    li
      span
        | Services
        i.fa.fa-angle-down(aria-hidden='true')
      ul
        li: a(href="/crm.html") CRM
        li: a(href="/chatbot.html") Chatbot
        //- li: a(href="/whatsapp.html") WhatsApp
        //- li: a(href="#") Marketing
    li: a(href="https://blog.talkpush.com/", target="_blank") Blog
    //- li: a(href="#") Contact Us
    li: a(href="#", onclick="Calendly.showPopupWidget('https://calendly.com/talkpush-demo/talkpush-intro-demo/');return false;")
        i(class="fa fa-envelope-open-o fa-fw", aria-hidden="true")
        | Book a Demo

link(href='https://assets.calendly.com/assets/external/widget.css', rel='stylesheet')
script(src='https://assets.calendly.com/assets/external/widget.js', type='text/javascript')
