- var siteDescription = "Let your talent talk | Recruitment Chatbot Platform"
- var metaKeywords = "Talkpush, Chat Application, Recruitment Platform, Messaging, Recruitment Chatbot"
- var siteTitle = "Talkpush"
- var favicon = "./images/favicon.ico"
- var siteImage = ""
- var jQuery = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
