@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .annual-video {
           width:500px; 
           height:281px;
    }
}

@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
      
}

@media only screen
    and (min-width: 992px) and (max-width: 1199px) {
         
}

@media only screen
    and (min-width: 768px) and (max-width: 991px) {
        
        .video-background {
            display: none;
        }
        
        section.main-page {
            background-position: 0 -100px;
        }
        section.story-first,
        section.story-second,
        section.story-third,
        section.story-fourth {
            padding-bottom: 50px;
            padding-top: 50px;
        }
        
        section.story-first .col-md-4,
        section.story-second .col-md-4 {
            margin-bottom: 50px;
        }
        section.story-third .middle img {
            width: 400px;
        }
        
        section.story-third .col-sm-4 .icons {
            width: 100%;
        }
        
        section
}

@media only screen
    and (min-width: 570px) and (max-width: 767px) {
        
        
}

@media only screen
    and (min-width: 470px) and (max-width: 569px) {
        
}

@media only screen
    and (min-width: 420px) and (max-width: 469px) {
        
        
}

@media only screen
    and (max-width: 419px) {
        
        header .login-navbar,
        header .menu-navbar {
            display: none;
        }
        
        header .mobile-navbar {
            border-top: 15px solid #87C930;
            background: #333B3D;
            display: block;
        }
        
        header .navbar-brand img {
            width: 100px;
            margin-top: -15px;
        }
        
        header .navbar-brand img.logo-black {
            display: none;
        }
        
        header .mobile-navbar .navbar-collapse li.active {
            background: #D6D6D9 !important;
        }
        
        header .mobile-navbar .navbar-toggle {
            border-radius: 0;
            border: 1px solid #D6D6D9;
        }
        
        header .mobile-navbar .navbar-toggle span {
            background: #D6D6D9;
        }
        
        section.main-page {
            padding-top: 100px;
            background-image: url(../img/mobile-bg);
            background-position: -200px 0;
            background-size: cover;
        }
        
        section.main-page .chat {
            display: block;
            margin-top: 30px;
            padding: 30px 15px;
        }
        
        section.main-page .tagline {
            text-align: center;
        }
        
        section.main-page .tagline h1 {
            font-size: 20px;
        }
        
        section.story-first,
        section.story-second,
        section.story-third,
        section.story-fourth {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        section.story-first .col-xs-6,
        section.story-second .col-xs-6 {
            margin-bottom: 50px;
            text-align: center !important;
        }
        
        section.story-third .middle {
            padding-top: 30px;
            height: auto;
            display: none;
        }
        
        section.story-third .col-xs-12 {
            display: block;
            text-align: center;
        }
        
        section.story-third .col-xs-12 img {
            width: 200px;
            margin-bottom: 50px;
        }
        
        section.story-third .left img,
        section.story-third .right img,
        section.story-third .center img {
            width: 50px;
            margin-bottom: 30px;
        }
        
        section.story-third .icons.left {
            width: 100%;
        }
        
        section.story-third .icons.right {
            text-align: center;
            float: none;
            width: 100%;
        }
        
        section.story-third .icons.center {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
        
        section.story-fourth {
            padding-top: 100px;
        }
        
        section.story-fourth ol li a {
            font-size: 14px;
        }
        
        section.story-fourth .video-player {
            width: 100%;
        }
        
        section.story-fourth p.testimonial {
            font-size: 16px;
        }
        
        section.story-fourth img {
            width: 100px !important;
        }
        
}