@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/* general body*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

h1 {
  color: rgb(177,177,177);
  font-size: 31px;
  line-height: 37px;
}

h2 {
  color: #8aa815;
  font-size: 26.5px;
  font-weight: 600;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.interested-in h2 {
  text-align: center !important;
}

h3 {
  color: #FFF;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h4 {
  color: #8aa815;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 12px;
}

h5 {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  color: #FFF;
  font-size: 14px;
  font-weight: 200;
  margin-top: none;
  margin-bottom: 35px;
}

.terms-content p{
    color:black;
}

.btn {
  background-color: #8AA815;
  border-radius: 0;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  height: 58px;
  width: 100%;
  padding: 5px;
}

/*green line at top*/
.header-top {
  background-color: #8aa815;
  height: 5px;
  width: 100%;
}

/*nav and logo*/
.nav {
  min-height: 100px;
}

.nav a {
  color: #b1b1b1;
  margin-top: 55px;
}

.navbar .caret {
  margin-left: 10px;
}

.navbar .dropdown-menu > li > a {
  margin-top: 0;
}

.wrap {
  background-color: rgb(50,58,69);
  width: 100%;
}

.active h5 {
  color: #8AA815;
  font-weight: 600;
}

/*introduction section*/
.introduction {
  margin-top: 45px;
  margin: auto;
  max-width: 480px;
  text-align: center;
}

#tagline {
  color: rgb(87,87,86);
}

.play {
  color: #8aa815;
  font-size: 70px;
}

.action {
  color: #B1B1B1;
  margin-top: -10px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/*spec section*/
.spec-header {
  text-align: center;
}

.spec {
    text-align: center;
    margin-top: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.spec p {
  font-size: 14px;
}

.screen {
  margin-bottom: -7px;
}

.img-responsive {
  margin: auto;
}

/*benefits*/
.keyBenefits h2 {
/*  color: #fff;*/
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 8px;
}

.key-benefits h3 {
  text-align: center;
}

.benefits {
  text-align: center;
}

/*want to know more?*/
.btn-left {
  float: right;
  padding-right: 20px;
  text-align: right;
  float: right;
}

.btn-right {
  padding-left: 20px;
  text-align: left;
  float: left;
}

.btn-icon {
  padding-right: 10px;
}

.know-more-wrap {
  background-color: #FAFAFA;
}

.know-more {
  padding-bottom: 50px;
}

.know-more h2 {
  font-weight: 600;
}
.know-more .btn{
  background: #323a45;
}
.know-more .btn:hover{
  color: #8aa815;
}
.know-more-btn {
  padding: 5px;
}
.wrap.demo{
    padding: 20px 0;
}

.demo .text,
.demo .phone-section {
    padding: 0 50px; 
}


.demo .btn-demo {
    height: 34px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
    width: 100px;
    background: #8aa815 !important;
}

.demo .phone-row input {
    height: 34px;
    font-size: 14px;
    border: 1px solid #f0f0f0;
    width: 100%;
}
.demo #demo_phone_no {
    width: 100% !important;
    height: 34px;
}

div.intl-tel-input {
    width: 100%;
}

span#demo_country_code_error, span#demo_phone_no_error,
span#demo_first_name_error, span#demo_last_name_error,
span#email_error, span#fullName_error, span#company_error, span#message_error{
    display: none;
    color: #eb5d6c;
    font-size: 10px;
}

.demo .input-row {
    padding: 50px 0;
    height: auto;
    display: none;
}

.demo .input-row label {
    font-size: 12px;
    font-weight: 600;
}
.demo .input-row input {
    width: 100%;
    border: 1px solid #ccc;
    height: 34px;
    padding-left: 12px;
    margin-top: 10px;
    font-size: 14px;
}

.demo .input-row button {
    width: 200px;
    max-width: 100%;
    border: 0;
    height: 34px;
    background: #8aa815;
    color: white;
    float: right;
    margin-top: 10px;
}

.demo .thankyou-row,
.demo .thankyou-row .thankyou-text,
.demo .thankyou-row .duplicate-text {
    padding: 50px 0;
    display: none;
}

.iti-flag {background-image: url("../img/flags.png");}
/*
.demo input{
  font-family: "PT Sans Narrow";
  height:50px;
  font-size: 35px;
  color: #575756;
  width:100%;
}
*/
/*
.demo button{
  color: #ffffff;
  font-size: 28px;
  background: #8AA815;
  border: 0px;
  text-align: center;
  width: 100%;
  margin-top:5px;
}
*/


.demo .separate-line{
  background: #e0e0e0;
  width: 5px;
  height: 120px;
  position: absolute;
  left: 50%;
}
.demo p {
  color:#323A45;
  font-size: 14px;
}
.demo h2{
  color:#8AA815;
}
/*form section*/

.interested-in {
/*  margin-left: 40px;*/
/*  float: left;*/
}

.interested-dropdown-menu {
  margin-left: -5px;
  padding-left: 0;
}

.form-wrap {
  background-color: #FFF;
  min-height: 500px;
}

.form-group {
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
}

.form-wrap h2 {
  color: rgb(50,58,69);
  font-weight: 600;
  text-align: right;
}

.form-control {
  border-radius: 0;
    -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  border-color: #8AA815;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.caret {
  margin-left: 40px;
}

.dropdown-btn {
  background-color: white;
  border: 1px solid #8AA815;
  margin-top: 45px;
  padding-left: 50px;
  height: 40px;
  width: 215px;
}

.dropdown-menu {

}

.open > .dropdown-menu {
  display: block;
  width: 215px;
  border: 1px solid #8aa815;
  border-radius: 0;
  padding: 0 !important;
  border-bottom: 0;
  margin-top: -1px;
}

.dropdown-menu > li > a {
  border-bottom: 1px solid #8aa815;
  font-weight: inherit;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
}

.btn-form {
  height: 40px;
  width: 200px;
  float: right;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}

.form-container {
  padding-bottom: 50px;
}

.box-hide {
  display: none;
}

/*placeholder icons*/
#fullName::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f007'; color: #B1B1B1; }
#fullName::-moz-placeholder::before  { font-family: fontAwesome; content:'\f007'; color: #B1B1B1; } /* firefox 19+ */
#fullName:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f007'; color: #B1B1B1; } /* ie */
#fullName input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f007'; color: #B1B1B1; }

#email::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0e0'; color: #B1B1B1; }
#email::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0e0'; color: #B1B1B1; } /* firefox 19+ */
#email:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0e0'; color: #B1B1B1; } /* ie */
#email input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f0e0'; color: #B1B1B1; }
#cv::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0f6'; color: #B1B1B1; }
#cv::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0f6'; color: #B1B1B1; } /* firefox 19+ */
#cv:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0f6'; color: #B1B1B1; } /* ie */
#cv input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f0f6'; color: #B1B1B1; }

#company::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0b1'; color: #B1B1B1; }
#company::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0b1'; color: #B1B1B1; } /* firefox 19+ */
#company:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0b1'; color: #B1B1B1; } /* ie */
#company input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f0b1'; color: #B1B1B1; }

#message::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f040'; color: #B1B1B1; }
#message::-moz-placeholder::before  { font-family: fontAwesome; content:'\f040'; color: #B1B1B1; } /* firefox 19+ */
#message:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f040'; color: #B1B1B1; } /* ie */
#message input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f040'; color: #B1B1B1; }

#subject::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0eb'; color: #B1B1B1; }
#subject::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0eb'; color: #B1B1B1; } /* firefox 19+ */
#subject:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0eb'; color: #B1B1B1; } /* ie */
#subject input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f0eb'; color: #B1B1B1; }

#sourcing-form #message::-webkit-input-placeholder{
  color:#e0e0e0;
}
#sourcing-form #message::-moz-placeholder{
  color:#e0e0e0;
}
#sourcing-form #message:-ms-input-placeholder{
  color:#e0e0e0;
}
#sourcing-form #message input:-moz-placeholder{
  color:#e0e0e0;
}

/*price list*/
.price {
  text-align: center;
  padding-bottom: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.price-header {
  background-color: #8AA815;
  border: 1px solid white;
  border-bottom: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.price-body {
  border: 1px solid white;
  border-top: none;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -12px;
  min-height: 180px;
}
.price-body p {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.price-footer {
  background-color: white;
  color: rgb(50,58,69);
  text-align: center;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -12px;
  min-height: 40px;
}
.price-footer ul {
  list-style-type: none;
  padding-left: 5px;
  margin-top:5px;
}
.price-footer p {
  font-size: 12px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(50,58,69);
  margin-bottom: 0;
  padding-top: 5px;
}

/*client images*/
.clients {
  text-align: center;
}

.client-logos {
  max-width: 200px;
  max-height: 60px;
  margin: auto;
}

/*footer*/
.footer {
  background-color: #4a4a4a;
  color: white;
}
.footer h3 {
  text-transform: none;
  margin-bottom: 5px;
}
.footer h5 {
  color: white;
  text-align: right;
}

.terms-conditions {
  margin-right: 0;
}

.footer-menu a {
  color: inherit;
  text-decoration: none;
}

.social {
  text-align: right;
}

.social-link {
  padding-left: 10px;
    

}

.back-to-top {
    cursor: pointer;
    background: none;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #8AA815;
    background-color: none;
}

.back-to-top i {
  font-size: 60px;
}

/*privacy page*/
.privacy-content p {
  color: black;
  overflow-x: none;
}

.privacy-row {
  margin-right: 0;
  margin-left: 0;
}

/*about us*/
.intro-video {
  float: right;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.introduction-about {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.about-us {
  color: #575756;
  font-size: 15px;
  line-height: 22px;
  margin-top: 30px;
  width: 100%;
  min-width: 300px;
}

.know-more-about {
  margin-top: 50px;
}

.know-more-about h2 {
  color: #fff;
  padding-bottom: 15px;
}

.clients h2 {
/*  color: #575756;*/
  font-weight: 600;
  margin-top: 15px;
  padding-bottom: 20px;
}

.blueprint {
  margin-top: 6px;
  max-height: 50px;
  max-width: 150px;
}

.swire {
  margin-top:14px;
}
.sub-corp-color-bg {
    background-color: #b1b1b1
}

.mobile-menu-icon {
    margin-top: 60px;
}

.btnFeatures ,.btnBenefits, .btnUserCases, .btnFreeTrial{
    cursor: pointer;
}

.btnFreeTrial {
	background: #8aa815;
    color: #fff !important;
    width: 100px;
    text-align: center;
}



.collapse>.nav .active {
    background-color: #fafafa;
}

.navbar-right {
    font-size: 14px;
    font-weight:normal;
}

.intro-header {
    font-size: 31px;
    font-weight: bold;
}

.newsletter-headline {
    text-align: center;
}

.btn-nl {
    float: none !important;
    width: 100% !important;
    margin: 0px !important;
    height: 34px;
}

.tcandpp {
    margin-left: 15px;
    margin-bottom: 10px;
}

.footer a {
    color: white;
}
.footer a:hover {
    color: white;
}

.footer-right {
    text-align: right;
}

.phoneNo {
    width: 125px;
    display: block;
    float: left;
    font-style: normal;
    
}

.phoneNo-country {
    float: left;
}

.social-row {
    margin-top: -25px;
}

.ere-logo {
    margin-top: -25px;
}

.tia-logo {
    margin-top: -5px;
}

.media-logo {
    margin-top: 15px;
    margin-bottom: 5px;
}

.benefits-box {
/*    max-width: 400px;*/
}



.our-history {
   color: #575756;
  font-size: 15px;
  line-height: 22px;
  margin-top: 30px;
  min-width: 390px; 
}

.btnSD {
    cursor: pointer;
}

.keyBenefits {
/*    background-color: #fafafa;*/
}

.recruit-header {
    text-align: center;
    font-weight: 800;
}

.recruit-title {
    text-align: left;
}

.recruit-place {
    font-style: italic;
    text-decoration: underline;
    color: white;
    font-weight: 100;
    margin-top: 55px;
}

.wrap-even {
    background: #fafafa;
}
.wrap-even p{
    color: #323A45;
}
.wrap-even .recruit-place{
    color: #323A45;
}



#cv {
    text-align: left;
    color: #B1b1b1; 
}

.se-form {
    
}

.introduction-about iframe {
    margin-top: 20px;
    min-height: 240px;
    min-width: 320px;
    width: 100%;
    max-width: 480px; 
}
.introduction-our-history iframe{
    margin-top: 30px;
    min-height: 240px;
    min-width: 400px;
    max-width: 400px;
}

.introduction-our-history {
    text-align: center;
}

.our-history-text {
    text-align: left;
}

.intro-text {
    text-align: left !important;
}

.wrap-grey {
    background: #fafafa;
    width: 100%;
}

.form-message-box {
    text-align: center;
    display: block;
}
#cv{
    cursor: pointer;
}
.form-apply {
    display: none;
}

.scmp-logo {
    
}

.what-people-say {
    min-height: 350px;
/*    background-color: #fafafa !important;*/
}

.what-people-say .bottom-line {
    text-align: center;
    
}

.what-people-say .top-line {
    font-family: open sans;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    min-height: 125px;
}

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    float: left;
    position: absolute;
    margin-top: 60px;
}
#slideposition .indicator.active{
    background-color:#8aa815;
}
#slideposition .indicator{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: white;
    margin: 0px 7px;
    padding: 0;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;
}
#slideposition {
    position: relative;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.sheraton {
    margin-top: 0px;
}
.shore_wps {
    margin-top:10px;
    
        margin-right: -13px;
}


.floating-window {
    position: fixed;
    right: 20px;
    top:200px;
    width: 200px;
    font-size: 10px;
    z-index: 999;
}
.floating-window li:hover{
    text-decoration: underline;
	cursor: pointer;
    display: block;
}
.wrap-partnership li{
	font-weight: 100;
    font-size: 14px;
    margin-bottom: 10px;
}
.wrap-partnership ul {
   list-style: none;
}
.wrap-partnership ul li:before {
   content: "•";
    padding-right: 15px;
}
.floating-window ul {
	list-style: none;
    color: #575756;
}
.floating-window .active{
    color: #8aa815;
    font-size: 13px;
}

.streetdeal_wps {
    margin-top:0px;
}

.lazada_wps {
    margin-top:0px;
}


.recruitment-acceleration {
    background-color: #fafafa;
    text-align: center;
}
.recruitment-acceleration .glyphicon {
    width: 92px;
    height: 92px;
    font-size: 40px;
    text-align: center;
}
.wrap-partnership p{
  color: #565657;
}

.featured-on {
  background: #fafafa;
}

.hrtoday, .hrmagazine {
  max-width: 150px;
}

.wrap-partnership {
  background-color: #fafafa;
  color: #565657;
}

.header-partnership {
  background: url('../images/partnership_background_2x.jpg');
  background-size: cover;
  background-position-x: center;
  height: 550px;
    
}

.sign-up,.sign-up-sourcing {
  padding: 20px 50px;
  background-color: #8aa815;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
}
#partnership-form .input-field,#sourcing-form .input-field{
  margin-top: 5px
}
.white-row{
  background: #ffffff;
  color: #4a4a4a;
}
.white-row p{
  color: #4a4a4a;
}
.white-row h2{
  color:#8aa815;
}
.white-row h3{
  color:#323A45;
  text-align: center;
}
.white-row h4{
  color: #4a4a4a;
}
.darkblue-row{
  background: #323A45;
  color: #4a4a4a;
}
.darkblue-row p{
  color: #ffffff;
}
.darkblue-row h2{
  color:#8aa815;
}
.darkblue-row h3{
  color:#ffffff;
  text-align: center;
}
.lightgrey-row{
  background: #fafafa;
  color: #4a4a4a;
}
.lightgrey-row p{
  color: #4a4a4a;
}
.lightgrey-row h2{
  color:#8aa815;
}
.lightgrey-row h3{
  color:#323A45;
}
.lightgrey-row h4{
  color: #4a4a4a;
}
.clients a{
  height: 75px;
  display: block;
}

.carousel .item{
  height: 120px;
  margin: 3px;
  display: table-cell;
  vertical-align: middle
}
.carousel .item img{
  display: block;
  width: 65%;
  margin: 0 auto;
  height: auto;
}
#go-down{
  cursor: pointer;
}
.footer .title{
  color: #868686;
  font-weight: 700;
}
.footer .content{
  color: #E0E0E0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}
.scroll-div{
  height: 950px;
  overflow-y: scroll;
  margin-bottom: 15px;
}
.scroll-div > .row{
  margin-bottom: 15px;
}
.scroll-div p{
  margin: 0px !important;
}
.scroll-div img{
  width: 100%;
}
.scroll1::-webkit-scrollbar {
  width: 5px;
}
 
.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}
 
.scroll1::-webkit-scrollbar-thumb {
  background: #666; 
}
#subscription_pop_up .modal-content{
  background: url("../images/hand.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; 
  color: #ffffff;
  text-align: left;
  // position:absolute;
  // z-index:999;
  // display:none;
  border: 0px;
  padding: 20px;
}
#subscription_pop_up h2{
  color: #ffffff;
  text-align: left;
  text-transform: none;
}
#subscription_pop_up h3{
  font-weight: 100;
  text-transform: none;
}
#subscription_pop_up h5{
  color: #ffffff;
  font-size: 10px;
  text-transform: none;
}
#subscription_pop_up a{
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  display: block;
  margin: 0 auto;
  text-decoration: underline;
}
#subscription_pop_up .inputWrapper{
  position: relative;
  width: 70%
}
#subscription_pop_up input[type="email"]{
  height: 36px;
  width: 100%;
  color: #4a4a4a;
  float: left;
  border-radius: 5px 0 0 5px;
  border: 0px;
  padding-left: 5px;
}
#subscription_pop_up #btnSignup{
  background: #4a4a4a;
  width: 30%;
  height: 36px;
  border: 0px;
  border-radius: 0px 5px 5px 0px;
}
#subscription_pop_up .thankyoumsg{
  display: none;
}
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 5px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}
.loading-spinner {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 15px; 
  display: none;
}
.error{
  color: rgb(254, 191, 202);
  padding: 3px 10px;
  display: none;
}
.parsley-errors-list.filled{
  color: #E37776;
  position: absolute;
  font-size: 10px;
  right:0%;
  list-style: none;
  padding: 0 5px;
}
.wrap.pricing-plan h4{
  color: #575756;
  text-align: center;
}
.pricing-plan .plan-header{
  background: #8aa815;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}
.pricing-plan .plan-content,.pricing-plan .plan-extra-content{
  border: 3px solid #8AA815;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  color:#575756;
  font-weight: 300;
}
.pricing-plan .plan-content{
  min-height: 230px;
}
.pricing-plan .plan-extra-content{
  border-top:0px;
}
.pricing-plan .plan-content ul{
  text-align: left;
}
.plan-header b{
  font-size: 18px;
  font-weight: 600;
}
.plan-header h5{
  font-weight: 200;
  font-size: 14px;
  color: #ffffff;
  text-transform: none;
}
.plan-header h6{
  font-size: 10;
  font-weight: 100;
}
.additional, .additional p, .additional h4 {
  color: #ffffff;
  text-align: center;
}
.additional h4{
  text-align:center;
}
.additional .intro-header{
  color: #8AA815;
}
.additional-box-header, .additional-box-content{
  background: #8AA815;
  padding: 10px;
  text-align: center;
}
.additional-box-header b{
  font-size: 18px;
  font-weight: 600;
}
.additional-box-content{
  line-height: 1.5;
  background: none;
  border: 3px solid #8AA815;
  text-align: center;
  font-weight: 300;
  min-height: 175px;
}
.additional-box-header h6{
  font-size: 10;
  font-weight: 100;
}
.additional button{
  color:#fff;
  font-size: 18px;
  padding: 20px;
  background: #EB5D6C;
  border: none;
  border-radius: 5px;
}
.pop-up{
  display: none;
  background: #FFFFFF;
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.50);
  border-radius: 5px;
  font-size: 12px;
  width: 250px;
  padding: 10px;
  position: absolute;
  color: #575756;
}
.hints{
  border-bottom: 1px dotted #b1b1b1;
}
.wrap.clients{
  background: #FAFAFA;
}
.clients h3{
  font-size: 18px;
  color: #323A45;
  font-weight: 500;
  text-transform: none;
}
.pricing-logo{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
#telecommModal p{
  color:#575756;
  font-weight: 300;
}
#telecommModal h3{
  color:#8AA815;
}
#telecommModal{
  color:#575756;
  font-weight: 300;
}
#telecommModal select{
  border: 1px solid #575756;
  width: 100%;
  height: 36px;
  background: #ffffff;
}
#see-detail{
  cursor: pointer;
}
#telecomm-charge{
  text-align: right;
}
#quoteModal .modal-content{
  background: #8AA815;
}
#quoteModal input[type='email'], #quoteModal input[type='text']{
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border:0px;
  margin-bottom: 5px;
  padding: 10px
}
#quoteModal h3{
  text-transform: none;
}
#quoteModal .table-header{
  background: #D0DCA1;
  border: 1px solid #ffffff;
  padding: 20px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
#quoteModal .table-content{
  border: 1px solid #ffffff;
  padding: 20px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}
#quoteModal .thankyoumsg{
  display: none;
}
#quoteModal .parsley-errors-list.filled{
  position: inherit !important;
}
#quoteModal button{
  background: #575756;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  text-transform:uppercase;
  font-weight: 500;
  border: 0px;
  color: #ffffff;
  padding: 10px;
}
.wrap-chatbot{
  font-weight: 300;
  color: #ffffff;
  background: #2c333c;
  padding-top: 20px;
}
.wrap-chatbot .verticalLine{
  // border-left: 3px solid #ffffff;
  background: url("../images/chatbot/vertical-line.png") no-repeat 50%;
}
.chatbot-description{
  text-align: center;
}
.chatbot-img{
  max-width: 320px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.chatbot-section-title{
  transform: rotate(-90deg);
  font-weight:Bold;
  font-size: 26px;
}
.section-circle{
  width: 55px;
  height: 55px;
  margin: 0 auto;
  display: block;
  margin-top: -120%;
}
.call-to-stanley{
  /* Want to find out mor: */
  font-style: italic;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: none;
  font-weight: 100;
  max-width: 720px;
  display: block;
  margin: 0 auto;
}
.wrap-chatbot-faq{
  background: #fafafa;
  color: #575756;
  font-weight: 200;
}
.wrap-chatbot-faq p{
  color: #575756;
}
.wrap-chatbot-faq .question{
  margin-bottom: 10px;
}
.wrap-chatbot-faq .toggle-faq-content{
  display: none;
}
.call-to-quote{
  width: 230px;
  margin: 5px auto;
  background: #8AA815;
  padding: 20px;
  border: none;
  display: block;
  color: #ffffff;
}