@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/* general body*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

h1 {
  color: rgb(177,177,177);
  font-size: 31px;
  line-height: 37px;
}

h2 {
  color: #8aa815;
  font-size: 26.5px;
  font-weight: 600;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.interested-in h2 {
  text-align: center !important;
}

h3 {
  color: #FFF;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h4 {
  color: #8aa815;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 12px;
}

h5 {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  color: #FFF;
  font-size: 14px;
  font-weight: 200;
  margin-top: none;
  margin-bottom: 35px;
}

.btn {
  background-color: #8AA815;
  border-radius: 0;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  height: 58px;
  width: 100%;
  padding: 5px;
}

/*green line at top*/
.header-top {
  background-color: #8aa815;
  height: 5px;
  width: 100%;
}

/*nav and logo*/
.nav {
  min-height: 100px;
}

.nav a {
  color: #b1b1b1;
  margin-top: 55px;
}

.navbar .caret {
  margin-left: 10px;
}

.navbar .dropdown-menu > li > a {
  margin-top: 0;
}

.wrap {
  background-color: rgb(50,58,69);
  width: 100%;
}

.active h5 {
  color: #8AA815;
  font-weight: 600;
}

/*introduction section*/
.introduction {
  margin-top: 45px;
  margin: auto;
  max-width: 480px;
  text-align: center;
}

#tagline {
  color: rgb(87,87,86);
}

.play {
  color: #8aa815;
  font-size: 70px;
}

.action {
  color: #B1B1B1;
  margin-top: -10px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/*spec section*/
.spec-header {
  text-align: center;
}

.spec {
  text-align: center;
  margin-top: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.spec p {
  font-size: 16px;
}

.screen {
  margin-bottom: -7px;
}

.img-responsive {
  margin: auto;
}

/*benefits*/
.key-benefits h2 {
  color: #8aa815;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 8px;
}

.key-benefits h3 {
  text-align: center;
}

.benefits {
  text-align: center;
  padding-bottom: 20px;
}

#benefits p {
  color: #FFF;
}

#benefits .glyphicon {
  border: #8AA815 3px solid;
  border-radius: 48px;
  color: #FFF;
  font-size: 40px;
  padding: 18px;
  text-align: center;
  margin-bottom: 10px;
}

/*want to know more?*/
.btn-left {
  float: right;
  padding-right: 20px;
  text-align: right;
  float: right;
}

.btn-right {
  padding-left: 20px;
  text-align: left;
  float: left;
}

.btn-icon {
  padding-right: 10px;
}

.know-more-wrap {
  background-color: #FAFAFA;
}

.know-more {
  padding-bottom: 50px;
}

.know-more h2 {
  color: rgb(50,58,69);
  font-weight: 600;
}

.know-more-btn {
  padding: 5px;
}

/*form section*/

.interested-in {
/*  margin-left: 40px;*/
/*  float: left;*/
}

.interested-dropdown-menu {
  margin-left: -5px;
  padding-left: 0;
}

.form-wrap {
  background-color: #FFF;
  min-height: 500px;
}

.form-group {
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
}

.form-wrap h2 {
  color: rgb(50,58,69);
  font-weight: 600;
  text-align: right;
}

.form-control {
  border-radius: 0;
    -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  border-color: #8AA815;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.caret {
  margin-left: 40px;
}

.dropdown-btn {
  background-color: white;
  border: 1px solid #8AA815;
  margin-top: 45px;
  padding-left: 50px;
  height: 40px;
  width: 215px;
}

.dropdown-menu {

}

.open > .dropdown-menu {
  display: block;
  width: 215px;
  border: 1px solid #8aa815;
  border-radius: 0;
  padding: 0 !important;
  border-bottom: 0;
  margin-top: -1px;
}

.dropdown-menu > li > a {
  border-bottom: 1px solid #8aa815;
  font-weight: inherit;
  height: 40px;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.btn-form {
  height: 40px;
  width: 200px;
  float: right;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}

.form-container {
  padding-bottom: 50px;
}

.box-hide {
  display: none;
}

/*placeholder icons*/
#fullName::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f007'; color: #B1B1B1; }
#fullName::-moz-placeholder::before  { font-family: fontAwesome; content:'\f007'; color: #B1B1B1; } /* firefox 19+ */
#fullName:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f007'; color: #B1B1B1; } /* ie */
#fullName input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f007'; color: #B1B1B1; }

#email::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0e0'; color: #B1B1B1; }
#email::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0e0'; color: #B1B1B1; } /* firefox 19+ */
#email:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0e0'; color: #B1B1B1; } /* ie */
#email input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f0e0'; color: #B1B1B1; }

#company::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0b1'; color: #B1B1B1; }
#company::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0b1'; color: #B1B1B1; } /* firefox 19+ */
#company:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0b1'; color: #B1B1B1; } /* ie */
#company input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f0b1'; color: #B1B1B1; }

#message::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f040'; color: #B1B1B1; }
#message::-moz-placeholder::before  { font-family: fontAwesome; content:'\f040'; color: #B1B1B1; } /* firefox 19+ */
#message:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f040'; color: #B1B1B1; } /* ie */
#message input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f040'; color: #B1B1B1; }

#subject::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0eb'; color: #B1B1B1; }
#subject::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0eb'; color: #B1B1B1; } /* firefox 19+ */
#subject:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0eb'; color: #B1B1B1; } /* ie */
#subject input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f0eb'; color: #B1B1B1; }


/*price list*/
.price {
  text-align: center;
  padding-bottom: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.price-header {
  background-color: #8AA815;
  border: 1px solid white;
  border-bottom: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.price-body {
  border: 1px solid white;
  border-top: none;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -12px;
  min-height: 130px;
}
.price-body p {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.price-footer {
  background-color: white;
  color: rgb(50,58,69);
  text-align: center;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -12px;
  min-height: 40px;
}
.price-footer ul {
  list-style-type: none;
  padding-left: 5px;
  margin-top:5px;
}
.price-footer p {
  font-size: 12px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(50,58,69);
  margin-bottom: 0;
  padding-top: 5px;
}

/*client images*/
.clients {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.client-logos {
  max-width: 200px;
  max-height: 60px;
  margin: auto;
}

/*footer*/
.footer {
  background-color: rgb(87,87,86);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 40px;
  margin-bottom: -5px;
    color: white;
}
.footer h3 {
  text-transform: none;
  margin-bottom: 5px;
}
.footer h5 {
  color: white;
  text-align: right;
}

.terms-conditions {
  margin-right: 0;
}

.footer-menu a {
  color: inherit;
  text-decoration: none;
}

.social {
  text-align: right;
}

.social-link {
  padding-left: 10px;
    

}

.back-to-top {
    cursor: pointer;
    background: none;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #8AA815;
    background-color: none;
}

.back-to-top i {
  font-size: 60px;
}

/*privacy page*/
.privacy-content p {
  color: black;
  overflow-x: none;
}

.privacy-row {
  margin-right: 0;
  margin-left: 0;
}

/*about us*/
.intro-video {
  float: right;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.intro-header-about {
  text-align: center;
}

.introduction-about {
  margin: auto;
  margin-top: 20px;
  text-align: left;
}

.about-us {
  color: #575756;
  font-size: 15px;
  line-height: 22px;
  margin-top: 30px;
  min-width: 390px;
}

.know-more-about {
  margin-top: 50px;
}

.know-more-about h2 {
  color: white;
  padding-bottom: 15px;
}

.clients h2 {
  color: #575756;
  font-weight: 600;
  margin-top: -5px;
  padding-bottom: 20px;
}

.blueprint {
  margin-top: 6px;
  max-height: 50px;
  max-width: 150px;
}

.swire {
  margin-top:14px;
}
.sub-corp-color-bg {
    background-color: #b1b1b1
}

.mobile-menu-icon {
    margin-top: 60px;
}

.btnFeatures ,.btnBenefits, .btnUserCases{
    cursor: pointer;
}



.collapse>.nav .active {
    background-color: #fafafa;
}

.navbar-right {
    font-size: 14px;
    font-weight:normal;
}

.intro-header {
    font-size: 31px;
    font-weight: bold;
}

.newsletter-headline {
    text-align: center;
}

.btn-nl {
    float: none !important;
    width: 100% !important;
    margin: 0px !important;
    height: 34px;
}

.tcandpp {
    margin-left: 15px;
    margin-bottom: 10px;
}

.footer a {
    color: white;
}
.footer a:hover {
    color: white;
}

.footer-right {
    text-align: right;
}

.phoneNo {
    width: 120px;
    display: block;
    float: left;
    font-style: normal;
    
}

.phoneNo-country {
    float: left;
}

.social-row {
    margin-top: -25px;
}

.ere-logo {
    margin-top: -25px;
}

.tia-logo {
    margin-top: -5px;
}

.media-logo {
    margin-top: 15px;
    margin-bottom: 5px;
}

.benefits-box {
    max-width: 400px;
}
