footer
  .container
      .divider
          .section.bigger
              h4 About Talkpush
              p Talkpush is making volume hiring fun and personal again. Talkpush is a recruitment platform that leverages the power of messaging and social media. The solution consists of Stanley, a recruitment chatbot compatible with Facebook and WeChat, which conducts interviews and an application management tool, which allows recruiters to evaluate and hire candidates faster than ever before.
              h4.margin-top Talkpush Address
              p Cityland 3 Condominiums 105, VA Rufino Street, Makati, Philippines
          .section
              h4 Contact Details
              ul
                  li
                      i.fa.fa-send.fa-fw(aria-hidden='true')
                      | hello@talkpush.com
                  li
                      i.fa.fa-hashtag.fa-fw(aria-hidden='true')   
                      | +(852) 9188 7562 &mdash; 
                      strong HK
                  li
                      i.fa.fa-hashtag.fa-fw(aria-hidden='true')
                      | +(63) 917 5075734 &mdash; 
                      strong PH
                  li
                      i.fa.fa-hashtag.fa-fw(aria-hidden='true')
                      | +(33) 7 82 96 83 16 &mdash; 
                      strong FR
                  li
                      i.fa.fa-hashtag.fa-fw(aria-hidden='true')
                      | +(44) 7751 860193 &mdash; 
                      strong UK
                  li
                      i.fa.fa-hashtag.fa-fw(aria-hidden='true')
                      | +(1) 415 363 9911 &mdash; 
                      strong US
          .section
              // Begin MailChimp Signup Form
              #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='//talkpush.us9.list-manage.com/subscribe/post?u=2e2a41c362afe641e3bee5ed3&id=3485ede50a', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                  #mc_embed_signup_scroll
                    h4 Subscribe
                    .mc-field-group
                      label(for='mce-EMAIL').mc-label-title Read our newsletter as soon as it gets out. You can unsubscribe anytime you want after subscribing.
                      input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='example@gmail.com')
                    #mce-responses.clear
                      #mce-error-response.response(style='display:none')
                      #mce-success-response.response(style='display:none')
                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -5000px;', aria-hidden='true')
                      input(type='text', name='b_2e2a41c362afe641e3bee5ed3_3485ede50a', tabindex='-1', value='')
                    .clear
                      input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
              // End mc_embed_signup
              ul.social-icons
                  li: a(href="https://www.facebook.com/letthetalenttalk", target="_blank", title="Facebook")
                      span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-facebook.fa-stack-1x.fa-inverse
                      span Facebook
                  li: a(href="https://www.twitter.com/talkpush", target="_blank", title="Twitter")
                      span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-twitter.fa-stack-1x.fa-inverse
                      span Twitter
                  li: a(href="https://www.linkedin.com/company/talkpush", target="_blank", title="LinkedIn")
                      span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-linkedin.fa-stack-1x.fa-inverse
                      span LinkedIn
                  li: a(href="https://www.youtube.com/c/Talkpush", target="_blank", title="YouTube")
                      span.fa-stack
                          i.fa.fa-square.fa-stack-2x
                          i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
                      span YouTube
  .copyright
      div All rights reserved &copy; Talkpush 2017
      ul
          li: a(href="http://read.corilla.com/Talkpush/User-Guide.html", target="_blank") Documentation
          li: a(href="./terms.html") Terms & Conditions
          li: a(href="./privacy.html") Privacy Policy
