ul
    li: a(href="./")
        i.fa.fa-home.fa-fw(aria-hidden='true')
        | Home
    li: a(href="./a/1/about.html", target="_blank")
        i.fa.fa-user-circle-o.fa-fw(aria-hidden='true')
        | About Us
    li: a(href="./a/1/jobs.html", target="_blank")
        i.fa.fa-briefcase.fa-fw(aria-hidden='true')
        | Career
    // li: a(href="#") 
    //     i.fa.fa-book.fa-fw(aria-hidden='true')
    //     | Pricing
    li: a(href="https://blog.talkpush.com/", target="_blank") 
     i.fa.fa-pencil.fa-fw(aria-hidden='true')
     | Blog
    // li: a(href="#") 
    //     i.fa.fa-envelope.fa-fw(aria-hidden='true')
    //     | Contact Us
