ul
    li: a(href="http://read.corilla.com/Talkpush/User-Guide.html", target="_blank")
        i.fa.fa-file-text.fa-fw(aria-hidden='true')
        | Documentation
    li: a(href="./terms.html") 
        i.fa.fa-handshake-o.fa-fw(aria-hidden='true')
        | Terms &amp; Conditions
    li: a(href="./privacy.html") 
        i.fa.fa-user-secret.fa-fw(aria-hidden='true')
        | Privacy Policy
