ul
    li: a(href="https://www.facebook.com/letthetalenttalk", target="_blank")
        i.fa.fa-facebook.fa-fw(aria-hidden='true')
        | Facebook
    li: a(href="https://www.twitter.com/talkpush", target="_blank") 
        i.fa.fa-twitter.fa-fw(aria-hidden='true')
        | Twitter
    li: a(href="https://www.linkedin.com/company/talkpush", target="_blank") 
        i.fa.fa-linkedin.fa-fw(aria-hidden='true')
        | LinkedIn
    li: a(href="https://www.youtube.com/c/Talkpush", target="_blank") 
        i.fa.fa-youtube-play.fa-fw(aria-hidden='true')
        | YouTube
