ul
    li: a(href="/") Home
    li: a(href="./a/1/about.html", target="_blank") About Us
    li: a(href="./a/1/jobs.html", target="_blank") Career
    li: a(href="https://blog.talkpush.com/", target="_blank") Blog
    // li: a(href="#") Contact Us
    li: a(href="https://calendly.com/talkpush/20-minute-talkpush-demo/", target="_blank")
        i(class="fa fa-envelope-open-o fa-fw", aria-hidden="true")
        | Book a Demo
