- siteDescription = "Let your talent talk | Recruitment Chatbot Platform"
- metaKeywords = "Talkpush, Chat Application, Recruitment Platform, Messaging, Recruitment Chatbot"
- siteTitle = "Talkpush"
- favicon = "./images/favicon.ico"
- siteImage = ""
- jQuery = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
