- siteDescription = "Site description"
- metaKeywords = "Meta keywords"
- siteTitle = "Talkpush - Let your talent talk"
- favicon = "./images/favicon.ico"
- siteImage = "./images/default-site-image.jpg"
- jQuery = "./scripts/jquery-3.1.0.min.js"
