- siteDescription = "Recruitment Platform for the Messaging Age"
- metaKeywords = "Talkpush, Chat Application, Recruitment Platform, Messaging"
- siteTitle = "Talkpush - Let your talent talk"
- favicon = "./images/favicon.ico"
- siteImage = ""
- jQuery = "./scripts/jquery-3.1.0.min.js"
