- siteDescription = "Let your talent talk"
- metaKeywords = "Talkpush, Chat Application, Recruitment Platform, Messaging"
- siteTitle = "Talkpush"
- favicon = "./images/favicon.ico"
- siteImage = ""
- jQuery = "./scripts/jquery-3.1.0.min.js"
