@import '../mixins/mixins';
.block {
    background-color: #000;
    background-image: url(../images/grid-bg.png);
    color: #fff;
    padding-bottom: 2rem;
    padding-top: 7rem;
    a {
        text-decoration: none;
        color: $theme;
        &:hover,
        &:focus {
            text-decoration: underline
        }
    }
}